body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: var(--surface-ground);
  color: var(--text-color);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

.p-password-input,
.p-inputtext {
  height: 100%;
  width: 100%;
}

.p-divider {
  margin-top: 20px !important;
  margin-bottom: 25px !important;
  height: 2px;
  background-color: var(--primary-color);
}

.p-card-content {
  padding: 0 !important;
}

.border {
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
}